%p
  The project request was sent to #{@project.employee.name}.

%p
  A Staffwisely representative will be in touch with you soon to discuss the project details.

%p
  %a{ :href => "http://staffwisely.com/app/projects/#{@project.id}" } Go to the project page
