#{@project.employer.name} is trying to hire #{@project.employees.full_name} from #{@project.employee.name}

%br/

%a{ :href => "http://staffwisely.com/app/projects/#{@project.id}" } Go to the project page
