!!!
%html
  %head
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }

  %body
    Hi
    = @employer.full_name
    ,

    %br/

    = @user.full_name
    has
    = @user.company.name
    has a message:

    %br/

    = @message
