.feature
  .container_12
    %h1 How It Works?
    %p
      Staffwisely is a staff marketplace for IT Outsourcing companies. List your staff and get revenue from your bench. Hire contractors to 
      %br/
      augment your team and reduce your overhead cost.

.container_12
  .page-wrapper
    .page-tabs
      %a#switch-bench.active Got People On Bench?
      %a#switch-contractors Need Contractors?

    #page-bench.page-wrapper-inner.group{ :style => "display: block;" }
      .dashed-lines.left{ :style => "top: 228px; left: 230px;" }
      .dashed-lines.left{ :style => "top: 767px; left: 230px;" }
      .dashed-lines.right{ :style => "top: 493px; right: 230px;" }

      #how-step1.step-block.left.group
        .step-ball.orange 1
        .step-content
        %h3 List your idle staff
        %p
          Get revenue from your bench by listing them here. Staffwisely bridges
          the gap between those with extra staff and those who are looking to
          hire contractors to augment their team.
	        
      #how-step2.step-block.right.group
        .step-ball.green 2
        .step-content
        %h3 Connect
        %p
          Companies in need of contractors will reach out to you to inquire
          about your staff. Take this time to get to know the company, the
          details of the project, duration of the project, and come in to terms
          with the hiring party after all details have been discussed and agreed upon.

      #how-step3.step-block.left.group
        .step-ball.blue 3
        .step-content
        %h3 Sign Contract
        %p
          Staffwisely will provide a contract that both companies can download,
          sign, and upload to Staffwisely for archiving. This contract will help
          protect you as an employer from things like employee poaching.
          Once signed, work can commence.

      #how-step4.step-block.right.group
        .step-ball.red 4
        .step-content
        %h3 Track Performance
        %p
          As employer and vendor, you are expected to monitor the
          performance of your staff and help make sure that tasks are
          delivered accordingly.

    #page-contractors.page-wrapper-inner.group{ :style => "display: none;" }
      .dashed-lines.left{:style => "top:228px; left:230px;"}
      .dashed-lines.left{:style => "top:747px; left:230px;"}
      .dashed-lines.right{:style => "top:455px; right:230px;"}
      
      #how-step1.step-block.left.group
        .step-ball.red 1
        .step-content
        %h3 Find a Contractor
        %p
          Contractors on Staffwisely are idle staff of IT Outsourcing companies. 
          Hire contractors with professional expertise on web development, mobile development, design, and more.
      
      #how-step2.step-block.right.group
        .step-ball.blue 2
        .step-content
        %h3 Contact Employer
        %p 
          When you find a contractor that meets your requirement, 
          just click on the "Contact Employer" button to inquire about the listed staff.
        
      #how-step3.step-block.left.group
        .step-ball.green 3
        .step-content
        %h3 Sign Contract
        %p 
          Staffwisely will provide a contract that both companies can download, sign, 
          and upload back to staffwisely for archiving. This contract will help make sure that the vendor will adhere to the agreement.
      
      #how-step4.step-block.right.group
        .step-ball.orange 4
        .step-content
        %h3 Work Starts
        %p 
          Once the contract is signed by both parties and uploaded to Staffwisely 
          for archiving, the staff can officially start working as contractor for the hiring party.
      
