.slide-wrapper.bench
  .container_12
    .heading-wrapper

      %h1 Get Revenue From Your Bench
      %h2 List your idle staff here and have other companies hire them as contractors.

      %a.large-cta.cta-list-staff{ :href => "/users/sign_in" }
        List your idle staff.
        %strong
          It's Free

.slide-wrapper.hire
  .container_12
    .heading-wrapper
      
      %h1 Hire Contractors To Augment Your Team
      %h2
        Scale your core team on-demand by hiring contractors on Staffwisely.

      .search-input
        %input{ :id => "search-query", :type => "text", :placeholder => "e.g. Ruby Developer" }
        %input{ :id => "search-submit", :type => "submit", :value => "Find a contractor" }

%ul.slide-nav
  %li
    %a#people-bench.active Got people on bench?

  %li
    %a#need-contractor Need a contractor?

.container_12
  .main-content.skill-category
    .hFc
      
      .grid_6.alpha
        .block
          %h2#listStaff Why list idle staff on Staffwisely
          %ul
            %li
              %h3 Get revenue from your bench
              %p
                List your idle employees on Staffwisely, price them, and have other companies hire them as contractors.
            %li
              %h3 Keep your staff busy and happy
              %p
                An idle mind is a dangerous thing. Give them real work even without a client project. Keep them happy. Keep them in your team.
      
      .grid_6.omega
        .block
          %h2#hireStaff Why hire staff on Staffwisely?
          %ul
            %li
              %h3 Deal with companies not individuals
              %p
                Accountability and reliability is critical when hiring contractors. On Staffwisely, you're dealing with companies, not individuals. 
                So you know exactly who you're working with.
            %li
              %h3 Scale on-demand
              %p
                Hiring full-time employees to support a project takes a lot of time. Reinforce your core team by hiring contractors when you need them.
            %li
              %h3 Reduce overhead cost
              %p
                Hiring full-time employees is also expensive. Reduce your operational expense by hiring reliable contractors on Staffwisely.

    %h2.block Find a contractor
    
    .skill-list-wraper.group
      .main-skills-list
        .group.block
          - @categories.each do |category|
            %div{ :class => category.eql?(Category.first) ? "grid_3 alpha" : category.eql?(Category.last) ? "grid_3 omega" : "grid_3" }
              %h3
                %a= category.name

              %ul
                - category.sub_categories.each do |sub_category|
                  %li
                    %a{ :href => "/contractors?category=#{sub_category.id}" }= sub_category.name
