.slide-wrapper.hire
  .container_12
    .heading-wrapper
      
      %h1 Hire Contractors To Augment Your Team
      %h2
        Contractors on Staffwisely are idle employees of BPO Companies. As vendor, the employer
        %br/
        will help make sure your projects get delivered accordingly.

      .search-input
        %input{ :type => "text", :placeholder => "e.g. Ruby Developer" }
        %input{ :type => "submit", :value => "Find a contractor" }

.slide-wrapper.bench
  .container_12
    .heading-wrapper

      %h1 Get Revenue From Your Bench
      %h2 List your idle staff here and have other companies hire them as contractors.

      %a.large-cta.cta-list-staff
        List your idle staff.
        %strong It's Free

%ul.slide-nav
  %li#need-contractor 
    %a.active Need a contractor?
  %li#people-bench
    %a Got people on bench?
