.logo staffwisely

.white-cover
  %h1
    Get Revenue From Your Bench
  %h2 
    Staffwisely is a staff marketplace that allows BPO companies to get revenue from their bench and hire reliable contractors
    %br/
    to augment their team.

  %div{ :style => "text-align: center;" }
    .tag Signup for our beta release

    .input-wrapper
      .notification-tip.error{ :style => "display: none;" }
        .tail
        You must enter an email address

      %input#notify-email{ :type => "text", :placeholder => "Enter your email address" }
      %input#notify-me{ :type => "submit", :value => "Notify me" }

    .tag Don't worry we won't spam you
