.project-meta
  %ul
    %li
      Date posted:
      = @project.created_at.strftime("%B %d, %Y")
      
    %li
      Time elapsed:
      = time_ago_in_words @project.created_at
      ago
      
    %li
      Status:
      %strong.inactive Pending
  
  %div
    - if current_company.employee? @project
      %a.btn.action.accept-project Accept Project
      %div{ :style => "text-align: center;" }
        %a.text-warning Decline this project
