.page
  = render 'selector_wrapper'
  
  .panel.lt
    .container_12
      .project-preview.group
        .grid_8.alpha
          .project-details
            = render 'project_details'
                      
        .grid_4.omega
          .project-details-sidebar
            = render 'project_meta'
      
      - unless @project.pending?
        = render 'comments'
