.modal
  .modal-header
    %a.close ×
    Propose a project

  .modal-body
    .form.large
      %fieldset.block
        %label Project title
        %input.full#project-title{ :type => "text" }
      %fieldset.block
        %label Project details
        %textarea.full#project-details

  .modal-footer.right
    %input.send-message-btn#send-project{ :type => "submit", :value => "Send" }

.modal-overlay
