.search-note-wrapper
  = image_tag("arrow.png", :class => "search-arrow")
  %h2
    Hi! There are thousands of available staff waiting.
  %p
    Search for a specific position you would want to hire.
