.page
  .container_12

    = render "/app/shared/sidebar"

    .search-results-wrapper
      .page-inner
        .bordered.group
          .inline
            %h1 List a Staff

        .form.form-right
          = form_for @employee, :url => "/app/employees/#{@employee.id}" do |f|
            = render :partial => 'app/employees/form', :locals => { :f => f }
