body,html{
     width:100%;
    height:100%;
}
body{
    font: 14px/1.6 'OpenSansRegular',Arial, sans-serif;
    color:#758a97;
}
h1,h2,h3,h4,h5,h6,strong{
    font-weight: normal;
    font-family: 'OpenSansSemiBold';
}
h5{
    font-size:12px;
    font-family: 'OpenSansRegular';
    color:#959595;
}
a{
    text-decoration: none;
    color:#3d6dbd;
    cursor: pointer;
    outline: none;
}
a.read-more{
    text-decoration: underline;
}
p{
    margin: 5px 0 15px 0;
}
strong{
    font-family: 'OpenSansSemiBold';
}
strong.green{
    color:#5cbb5f !important;
}
strong.inactive{
    color:#9e9e9e !important;
}
input,textarea, select{
    outline:none;
    color:#57646c;
    box-sizing: border-box;
}
textarea{
    min-height: 100px;
}
select{
    border:1px solid #d1d1d1;
    box-shadow: none;
    padding:5px;
    border-radius: 3px;
    font-size:14px;
}
input[type=text], input[type=password], textarea{
    border-radius: 3px;
    padding:7px;
    border:1px solid #d1d1d1;
    font-size:14px;
    width: auto;
    min-width: auto;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus{
    box-shadow:0 2px 3px #f1f1f1 inset;
}

.header{
  background: #e2f0f7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2f0f7', endColorstr='#d6e3eb'); 
  background: -webkit-gradient(linear, left top, left bottom, from(#e2f0f7), to(#d6e3eb)); 
  background: -moz-linear-gradient(top,  #e2f0f7,  #d6e3eb);
  position: relative;
  min-height: 40px;
  
}
.group:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */
a.logo{
    display:block;
    float:left;
    padding:5px 30px 10px 30px;
    font-size:34px;
    font-family: "Bree serif", serif;
    position: absolute;
    background: #f22651;
    box-shadow: 5px 5px 0 rgba(0,0,0,.3);
    color:#fff;
    text-decoration: none;
    text-shadow: 1px 3px 0 #d21940;
    -webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;  
}
a.logo:hover{
    background: #e20433;
    text-shadow: 1px 3px 0 #bc0028;
}
.block{
    margin:10px 0 15px 0;
}
.breadcrumb { 
	list-style: none; 
	overflow: hidden; 
}
.breadcrumb li { 
	float: left;
        
}
.breadcrumb li:first-child a{
    padding-left: 30px;
}
.breadcrumb li.active a{
    background: #eee;
    text-shadow: 0 1px 0 #fff;
    color:#000;
}
.breadcrumb li a {
	color: white;
	text-decoration: none; 
	padding: 5px 0 5px 55px;
	background: #d1d1d1;
	position: relative; 
	display: block;
	float: left;
        font-size:12px;
        color:#666;
        text-shadow: 0 1px 0 #ddd;
}
.breadcrumb li a:before { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;       
	border-bottom: 50px solid transparent;
	border-left: 30px solid white;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	margin-left: 1px;
	left: 100%;
	z-index: 1; 
}
.breadcrumb li.active a:after {
    border-left: 30px solid #eee;
}
.breadcrumb li a:after { 
	content: " "; 
	display: block; 
	width: 0; 
	height: 0;
	border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
	border-bottom: 50px solid transparent;
	border-left: 30px solid #d1d1d1;
	position: absolute;
	top: 50%;
	margin-top: -50px; 
	left: 100%;
	z-index: 2; 
}
.menu{
    position: absolute;
    left:250px;
}
.menu .icon-chevron-down{
    font-size:12px;
    height:18px;
}
.menu > li{
    display: inline-block;
    float: left;
    position: relative;
    margin-right:20px;
    /*-webkit-transition: all .1s ease-in-out;  
    -moz-transition: all .1s ease-in-out;  */
}

.menu > li.divide{
    margin-left:50px;
}


.menu > li > a{
    font-family: 'OpenSansBold', sans-serif;
    color:#7b94a3;
    text-shadow: 0 1px 0  #f4fbff;
    display:block;
    padding:9px 15px;
}
.menu > li a:hover, .menu > li.active a{
    
    color:#374f5e;
}

.menu > li.active .menu-collapse{
    display: block;
}
.menu > li > a.signup{
    color:#f66741;
}
.menu  a.signup:hover{
    color:#fc6b38;
}
.menu-collapse{
    position: absolute;
    z-index: 99;
    display: none;
    min-width: 150px;
    background: #D6E3EB;
}
.menu-collapse.menu-notifications{
    min-width: 600px;
    background: #333;
    border-radius: 5px;
    margin-top:0px;
    box-shadow: 0 1px 5px rgba(0,0,0,.2);
    
}
.menu-collapse > li{
    display: block;
}
.menu-collapse > li > a{
    display: block;
    color:#374f5e;
    padding:5px 15px;
    font-size:12px;
    font-family: 'OpenSansSemibold';
}
.menu-collapse > li > a:hover{
    background: #9bb8c9;
    color:#fff;
    text-shadow:0 -1px 0 #85a0b1;
}
.hide{
    display: none;
}
.show{
    display: block;
}
span.notif-count{
    position: absolute;
    top:2px;
    right:-3px;
    font-family: 'OpenSansSemibold';
    display: inline-block;
    border-radius: 5px;
    background: #ef5454;
    padding:0 5px;
    font-size:11px;
    color:#fff;
    text-shadow: none;
    border-bottom-left-radius: 0;
    box-shadow:2px 2px 0 rgba(0, 0, 0, .3)
}
span.notif-time{
    font-size:11px;
    font-family: 'OpenSansRegular';
    color:#ccc;
}
a.item-notification{
 display: block;
 margin:5px;
 font-size:12px;
 font-family: 'OpenSansSemibold';
}

a.item-notification:hover .item-notif-contents{
    color:#fff;
}
.item-notif-contents{
    color:#ccc;
}
.item-company-logo, .item-staff-photo{
   overflow: hidden;
   background: #fff;
   display: inline-block;
   float:left;
   width:50px;
   height:50px;
}
.item-staff-photo{
    float:right;
}
.item-notif-contents{
    margin-left:10px;
    padding:5px 0;
    width:430px;
    float:left;
}
.item-notif-msg .company-name{
    font-family: 'OpenSansBold';
}
.heading-wrapper{
    text-align: center;
}
.heading-wrapper h1{
    font-family: "Bree serif", serif;
    font-size:38px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    font-weight: normal;
}
.heading-wrapper h2{
    font-weight: normal;
    font-size:20px;
    text-shadow: 0 1px 0 rgba(0,0,0,.3); 
}
.slide-wrapper{
    display:block;
    padding:50px 0 0 0;
    min-height: 300px;
    background: #3d6dbd;
    /*background: url(/assets/cover.jpg) no-repeat -200px 0;*/
    background-size: 100%;
    color:#fff;
}
.slide-wrapper.hire{
    display: none;
}
.slide-wrapper.bench{
    
    display: block;
}
.slide-nav{
    text-align: center;
}
.slide-nav > li{
    display:inline-block;
}
.slide-nav > li > a{
    display:block;
    padding:5px 15px 7px 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #d9e5f2;
    font-family: "Bree serif", serif;
    font-size:18px;
}
.slide-nav > li > a.active{
    background: #3d6dbd;
    color:#fff;
    cursor: default;
}
.search-input{
    background: #fff;
    display: inline-block;
    padding-bottom:1px;
    padding-right:1px;
    border-radius: 5px;
    margin-top:40px;
    box-shadow:0 0 15px #4180c1;
}
.search-input input[type=submit], a.large-cta, .search-wrapper input[type=submit]{
    background: #4ce233;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4ce233', endColorstr='#2acb1c'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#4ce233), to(#2acb1c)); 
    background: -moz-linear-gradient(top,  #4ce233,  #2acb1c);
    border:1px solid #26c018;
    font-size:18px;
    padding:10px 15px;
    box-shadow: 0 1px 0 #5ef846 inset;
    border-radius: 5px;
    color:#fff;
    text-shadow: 0 1px 0 #20ae12;
    cursor: pointer;
}
.search-input input[type=submit]:hover, a.large-cta:hover, .search-wrapper input[type=submit]:hover{
    background: #50e837;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#50e837', endColorstr='#23c015'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#50e837), to(#23c015)); 
    background: -moz-linear-gradient(top,  #50e837,  #23c015);
}
.search-input input[type=submit]:active, a.large-cta:active, .search-wrapper input[type=submit]:active{
    background: #44d62c;
}
.search-input input[type=text]{
    background: #fff;
    border:none;
    font-family: 'OpenSansSemibold';
    font-size:18px;
    color:#f66741;
    min-width: 300px;
    padding:10px;
}
a.cta-list-staff strong{
    text-decoration: underline;
}
a.cta-list-staff{
    position: relative;
    top:25px;
    display: block;
    width:350px;
    font-family: 'OpenSansBold';
    font-size:22px;
    margin:30px auto 0 auto;
    box-shadow: 0 1px 0 #5ef846 inset, 0 0 15px #4180C1;
    border:1px solid #1fac12;
    
}
.main-content{
    margin-top:50px;
}
.menu-block{
    float: left;
}


.sidebar{
    display: inline-block;
    margin-top:20px;
    float: left;
    position: relative;
    z-index: 9;
    width:220px;
}
.skill-menu-cat li a{
    display: block;
    padding:7px 0 7px 15px;
    border:3px solid #d9e5f2;
    border-right: none;
    margin-bottom:10px;
    position: relative;
    z-index: 99;
    margin-right:-3px;
    background: #D9E5F2;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.skill-menu-cat li a.active{
    background: #fff;
    cursor: default;
}
.skill-list, .search-results-wrapper{
    padding:10px;
    border:3px solid #d9e5f2;
    border-radius: 5px;
    float:left;
    display: inline-block;
    width:713px;
}
.search-results{
    margin-top:20px;
}
.search-results-wrapper{
    min-height: 500px;
}
.search-results-wrapper.full{
    width:100%;
}

.skill-category h2{
    font-size:30px;
    font-family: 'OpenSansRegular';
    font-weight: normal;
    border-bottom:1px solid #e1e1e1;
}
.hFc h2{
    font-family: "Bree serif", serif;
    border-bottom: none;
    color:#F22651;
    font-size:24px;
    margin-bottom: 10px;
}
.hFc h3{
    font-family: 'OpenSansLight';
    font-size:20px;
}
.hFc li{
    min-height: 110px;
}
.pT{
    font-size:12px;
    display: inline-block;
    padding:0 5px;
    text-shadow: none;
    border-radius: 2px;
    margin-left:10px;
    color:#333;
    background: #d1d1d1;
}
.pT.dF1{
    background: #3993e7;
    color:#fff;
}

.skill-list h3{
    margin:5px 0 10px;
}
.skill-list li{
    margin:5px 0 5px;
}
.skill-list  a:hover{
    text-decoration: underline;
}
.skill-list-location-wrapper{
    display: none;
}
.skill-list-category-wrapper{
    display: block;
}
.skill-list-category-wrapper .grid_3{
    width:216px;
}
.main-skills-list{
    font-size:13px;
}
.main-skills-list li{
    margin:5px 0;
}
.main-skills-list a:hover{
    text-decoration: underline;
}
.main-skills-list h3{
    font-size:18px;
    font-family: 'OpenSansLight';
    font-weight: normal;
}

.page{
    margin-top:60px;
}
.feature{
    background: #66cea3;
    color:#fff;
    padding:50px 0 120px 0;
    font-size:18px;
}
.feature.switch{
    background: #eea753;
}
.feature.blue{
    background: #3D6DBD;
}
.feature h1{
    font-family: "Bree serif", serif;
    font-size:42px;
    font-weight: normal;
}
.search-cat li a{
    font-size:16px;
}
.search-results-wrapper h1{
    font-size:20px;
    font-weight: normal;
    font-family: 'OpenSansSemibold';
}
.search-wrapper{
    margin-top:10px;
}
.search-wrapper li{
    display:inline-block;
}
.search-wrapper input[type=text]{
    background: #fff;
    border:1px solid #ccc;
    padding:9px;
    border-radius: 3px;
    box-shadow:0 1px 3px #e1e1e1 inset;
}
.search-wrapper input[type=text].main-search{
    width:300px;
}

.search-results-inner{
    padding-top:10px;
    
}
.page-inner{
    padding:10px;
}
.search-wrapper input[type=submit]{
    padding:7px 20px 7px 20px;
    font-size:16px;
    font-weight: bold;
    border-radius: 3px;
}
.search-box-tools{
    margin:20px 0 5px 0;
    
}
.search-box-tools .search-count, .search-box-tools .search-sort{
    padding:5px 0;
}
.search-box-tools .search-pagination{
    float: right;
}
.search-box-tools .inline{
    margin-right:20px;
}
.search-box-tools .inline:last-child{
    margin-right: 0;
}
.bordered{
    border-bottom:1px solid #e1e1e1;
}
.small{
    font-size:12px;
    vertical-align: middle;
}
.inline{
    display: inline-block;
}
    
.pagination a{
    display: inline-block;
    padding:5px 10px;
}
.pagination  a:hover{
    background: #eaf2f7;
}
.pagination  a.active{
    color:#646464;
    background: #eaf2f7;
}

.search-item .thumbnail, .staff-thumb-wrap .thumbnail{
    float:left;
    width:80px;
    height:80px;
    overflow: hidden;
}
ul.list-inline{
    margin:5px 0 10px 0;
}
ul.list-inline.small{
    font-size:12px;
}
ul.list-inline li{
    display: inline-block;
    margin-right: 10px;
}
ul.list-inline strong{
    color:#556b79;
}

/*.search-profile{
    margin-left:100px;
}*/
.search-profile .c_name{
    font-size:16px;
}
.search-profile .company{
    font-family: 'OpenSansSemibold';
}

.search-profile h2{
    font-weight: normal;
    font-family: 'OpenSansSemibold';
    font-size:18px;
    margin:5px 0;
    color:#f22651;
    line-height: 0;
    margin-bottom:15px;
}
.search-profile a.action-contact{
    float: right;
    font-size:14px;
    font-family: 'OpenSansSemibold';
    padding:5px 10px;
    position: absolute;
    top:37%;
    right:10px;
    background: #47c8f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c8f4', endColorstr='#29a1ec'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#47c8f4), to(#29a1ec)); 
    background: -moz-linear-gradient(top,  #47c8f4,  #29a1ec);
    color:#fff;
    text-shadow: 0 1px 0 #1c8bd0;
    border-radius: 3px;
    border:1px solid #2191d7;
    box-shadow:0 1px 0 #77dafd inset;
    cursor: pointer;
}
.search-profile a.action-contact:hover{
    background: #49ccf9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf9', endColorstr='#2196dd'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#49ccf9), to(#2196dd)); 
    background: -moz-linear-gradient(top,  #49ccf9,  #2196dd);
}
.search-profile a.action-contact.inactive, .search-profile a.action-contact.inactive:active{
    background: #e0e0e0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0e0e0', endColorstr='#ebebeb'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e0e0), to(#ebebeb)); 
    background: -moz-linear-gradient(top,  #e0e0e0,  #ebebeb);
    border:1px solid #d6d6d6;
    color:#999;
    text-shadow: 0 1px 0 #fff;
    box-shadow: 0 1px 0 #f6f6f6 inset;
    cursor: default;
}

.search-profile a.action-contact:active{
    background: #37b3dd;
    box-shadow: 0 1px 3px #238eb3 inset;
}

.search-item{
    padding:20px 10px;
    position: relative;
    border-bottom:1px solid #d9e5f2;
    
}
.search-item:first-child{
    border-top:1px solid #d9e5f2;
}

.search-c-details ul{
    padding:0 0 10px 0;
}
.search-c-details li{
    display:inline-block;
    font-family: 'OpenSansBold';
    margin-right:20px;
}
.search-c-details li span{
    font-family: 'OpenSansRegular';
}
.c-tags a{
    background: #e9e9e9;
    font-size:11px;
    font-family: 'OpenSansSemibold';
    padding:0 5px 2px 5px;
    display: inline-block;
    border-radius: 2px;
}
.c-tags a:hover{
    background: #599adc;
    color:#fff;
}

.reminder-post{
    color:#646464;
}
.reminder-post a{
    text-decoration: underline;
}
.company-logo{
    display:inline-block;
    float:left;
    width:100px;
    height:100px;
    padding:15px;
    border:1px solid #e1e1e1;
    overflow: hidden;
}

a.list-a-staff, .login-form-tip input[type=submit], input.main-cta, .send-message{
    float:right;
    font-size:14px;
    margin-top:20px;
    font-family: 'OpenSansSemibold';
    padding:5px 30px;
    color:#fff;
    text-shadow: 0 1px 0 #1c8bd0;
    border-radius: 3px;
    border:1px solid #2191d7;
    box-shadow:0 1px 0 #77dafd inset;
     background: #47c8f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c8f4', endColorstr='#29a1ec'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#47c8f4), to(#29a1ec)); 
    background: -moz-linear-gradient(top,  #47c8f4,  #29a1ec);
    cursor: pointer;
}
a.list-a-staff:hover, .login-form-tip input[type=submit]:hover, input.main-cta:hover, .send-message:hover{
    background: #49ccf9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf9', endColorstr='#2196dd'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#49ccf9), to(#2196dd)); 
    background: -moz-linear-gradient(top,  #49ccf9,  #2196dd);
}
a.list-a-staff:active, .login-form-tip input[type=submit]:active, input.main-cta:active, .send-message:active{
    background: #35b1db;
}
input.main-cta, .send-message{
    float: none;
}
.send-message{
    font-size:12px;
    margin-top:10px;
}
.a-right{
    text-align: right;
}
.login-form-tip{
    padding:10px 15px;
}
.login-form-tip label{
    font-size:12px;
    color:#374f5e;
    text-shadow: 0 1px 0 #D6EAF4;
}
.login-form-tip fieldset{
    margin-bottom:5px;
    display: block;
}
.login-form-tip input[type=text], .login-form-tip input[type=password]{
    padding:7px;
    border:1px solid #a7c3d3;
    width:200px;
}
.login-form-tip input[type=submit]{
    margin:5px 0 0 0;
    padding:3px 15px;
    font-size:13px;
    display: inline-block;
    cursor: pointer;
}
.login-form-tip .inline.small{
    margin-top:10px;
    margin-right:10px;
    text-decoration: underline;
}
.login
.small{
    font-size:11px;
    vertical-align: middle;
}
.footer{
    padding:30px 0;
}
.staff-thumb-wrap{
    width:291px;
    display:inline-block;
    padding:7px;
    margin:5px;
    border:1px solid #e1e1e1;
    border-radius: 3px;
    background: #fff;
}
.staff-thumb-wrap:hover{
    border:1px solid #a7ccfa;
}

.staff-details{
    float:left;
    margin-left:10px;
}
.staff-details li{
    position: relative;
}

.staff-details .edit-link{
    display: none;
    font-size:12px;
}
.staff-details .edit-link:hover{
    text-decoration: underline;
}
.staff-details li.staff-position{
    color:#F22651;
    font-size:16px;
    font-family: "OpenSansSemiBold", sans-serif;
}
.staff-thumb-wrap:hover .staff-details .edit-link{
    display: inline-block;
    margin-left:3px;
}
.dropdown-list{
    vertical-align: top;
}
.dropdown-list > a{
    cursor: pointer;
    position: absolute;
    background: #f1f1f1;
   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#f1f1f1'); 
   background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#f1f1f1)); 
   background: -moz-linear-gradient(top,  #f5f5f5,  #f1f1f1);
   display: block;
   padding:1px 10px;
   font-size:12px;
   border-radius: 3px;
   border:1px solid #d1d1d1;
   box-shadow: 0 1px 0 #fff inset;
   color:#343434;
   min-width: 100px;
}
.dropdown-list .icon{
    width:12px;
    height:12px;
    position: relative;
    top:-2px;
    float: right;
}
.dropdown-options{
    position: absolute;
    background: #fff;
    border:1px solid #e1e1e1;
    
    display: none;
    overflow: hidden;
}
.dropdown-options > li{
    display: block;
}
.dropdown-options > li > a{
    padding:2px 10px;
    display: block;
    font-size:12px;
}
.dropdown-options > li > a:hover{
    background: #f1f1f1;
}
.dropdown-options .active{
    color:#343434;
}
.form{
    padding:10px 0;
}
.form fieldset{
    margin:10px 0;
}
.form.large .input-value{
    vertical-align: middle;
    font-family: 'OpenSansSemibold';
    color:#999;
}
.form.large, .form.large input[type=text], .form.large input[type=password], .form.large select, .form.large .input-value{
    font-size:20px;
}

.form.large input[type=text], .form.large input[type=password]{
    padding:10px;
}
.form.large fieldset{
    margin:20px 0;
}
fieldset.block label{
    display: block;
}
.form.form-right label{
    text-align: right;
    font-family: 'OpenSansSemibold';
    min-width: 170px;
    display:inline-block;
    margin-right:20px;
    vertical-align: middle;
}

.form input[type=text]{
    width: 250px;   
}
.form input[type=text].short{
    width: 30px;   
}
.form input[type=text].short-2{
    width:60px;
}
.form textarea.full, .form input.full{
    width:100%;
}
.form span.inline-tip{
    font-family: 'OpenSansRegular';
    color:#c9c9c9;
}


a.close{
    font-weight: bold;
    font-family: Arial, sans-serif;
    font-size:16px;
    margin-left:3px;
    width:11px;
    height:11px;
    position: relative;
    top:2px;
    line-height: 1;
    opacity: .5;
}
a.close:hover{
    opacity: .8;
}
.modal .close{
    float: right;
    font-size:22px;
    color:#676767;
}
.seperate{
    border-top:1px solid #e1e1e1;
    margin-top:10px;
    padding-top:10px;
}

.modal-overlay{
    background: #fff;
    display: none;
    opacity: .7;
    position: fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:1000;
}

.modal{
    position: fixed;
    background: #fff;
    width:560px;
    z-index:1001;
    color:#333;
    display: none;
    left:50%;
    top:10%;
    margin:0 0 0 -280px;
    border:1px solid #e1e1e1;
    border-radius: 3px;
    box-shadow: 0 0 25px rgba(0,0,0,.2);
}
.modal-header, .modal-body, .modal-footer{
    padding:10px;
}
.modal-header{
    font-family: 'OpenSansSemibold';
    font-size:18px;
}
.modal-body{
    border-top:1px solid #e1e1e1;
    border-bottom:1px solid #e1e1e1;
}
.modal-body .form{
    padding:0;
}
.modal-footer{
    background: #f5f5f5;
}
.modal-footer.right{
    text-align: right;
}
.company-details{
    margin-bottom:10px;
    float:left;
    margin-left:20px;
}
.company-details .company-name{
    font-size:20px;
    font-family: 'OpenSansSemibold';
}
.msg-count{
    background: #76a3d4;
    display: inline-block;
    font-size:11px;
    font-family: 'OpenSansSemibold';
    padding:1px 5px;
    color:#fff;
    border-radius: 3px;
    
}
a.message-item{
    display: block;
    border-bottom: 1px solid #D9E5F2;
    padding:10px;
}
.message-details{
    color:#787878;
    font-size:13px;
    margin-left:10px;
    float:left;
}
.message-date{
    float: right;
    color:#999;
    font-size:11px;
}
.message-item:hover{
    background: #f4f8fa;
}
.message-details .message-subj{
    font-family: 'OpenSansbold';
    color:#333;
    font-size:16px;
}
.message-details .message-sender{
    margin-top:5px;
    font-size:12px;
    color:#3D6DBD;
}
.message-item.read .message-subj{
    font-family: 'OpenSansRegular';
}
.view-single-message h3{
    font-family: 'OpenSansSemiBold';
    font-size:20px;
}
.message-actions{
    margin-top:10px;
    border-top:1px solid #e1e1e1;
    padding-top:10px;
}
.message-author{
    color:#999;
    margin:5px 0 0 0;
    display: inline-block;
    
    color:#333;
}
a.delete-msg{
    color: #ed4b4b;
    float:right;
    font-size:12px;
    margin-top:10px;
}
.profile-wrapper{
    padding:20px;
    border:1px solid #e1e1e1;
    box-shadow: 0 1px 7px #e1e1e1;
    margin-bottom:20px;
}
.view-single-message{
    margin:10px 0;
    border-bottom:1px solid #e1e1e1;
    padding:10px 0;
}
.reply{
    margin:20px 0;
}
.reply textarea{
    width:100%;
    min-height:80px;
}

.notification{
    background: #fff;
    border-bottom:1px solid #ccc;
    box-shadow:0 1px 5px rgba(0,0,0,.1);
    position: fixed;
    font-size:20px;
    color:#777;
    top:0;
    right:0;
    left:0;
    text-align: center;
    padding:5px;
    box-sizing: border-box;
    font-family: "OpenSansSemiBold";
    z-index:120;
}
.field_with_errors{
    display:inline-block;
}
.field_with_errors label{
    color:#e65151;
}
.field_with_errors input[type=text],.field_with_errors textarea{
    border:1px solid #e65151;
}
.page-wrapper{
    margin-top:-80px;
}
.page-wrapper.faq-wrapper{
    background: #fff;
    min-height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding:20px;
}
.faq-wrapper h3{
    font-family: "OpenSansLight";
    font-size:20px;
}
.page-wrapper-inner{
    background: #f7f7f7;
    padding:35px 15px 15px 15px;
    border-radius: 5px;
    position: relative;
    min-height: 970px;
}
.page-tabs{
    margin-left:50px;
}
.page-tabs a{
    margin-right: 10px;
    display:inline-block;
    padding:10px 20px;
    color:#fff;
    font-family: "Bree serif", serif;
    font-size:18px;
    text-shadow:0 -1px 0 rgba(0,0,0,.2);
}
.page-tabs a.active{
    background: #f7f7f7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#474747;
    text-shadow: 0 1px 0 #fff;
}
.step-block{
    background: #fff;
    border-radius: 5px;
    padding:20px;
    width:400px;
    border:1px solid #e1e1e1;
    position: relative;
}
.step-block.left{
    float:left;
}
.step-block.right{
    float:right;
}
.step-ball{
    float:left;
    width:55px;
    height:55px;
    border-radius: 50%;
    text-align: center;
    color:#fff;
    vertical-align: middle;
    font-size:32px;
    font-family: 'OpenSansLight';
}
.step-ball.orange{
    background: #f4a259;
}
.step-ball.green{
    background: #8bd89d;
}
.step-ball.blue{
    background: #70bfdd;
}
.step-ball.red{
    background: #ed7171;
}
.step-content{
    float:right;
    width:324px;
}
.step-content h3{
    font-family: 'OpenSansLight';
    font-weight: normal;
    font-size:28px;
}
.dashed-lines{
    background: url(/assets/dash.png) no-repeat;
    height:124px;
    width:250px;
    display:block;
    position: absolute;
}
.dashed-lines.left{
    background-position: 0 0;
}
.dashed-lines.right{
    background-position: -252px 0;
}

#how-step2{
    top:219px;
}
#how-step3{
    top:320px;
}
#how-step4{
    top:547px;
}

#pageContractors{
    display: none;
}
.beta-tm{
    position: absolute;
    font-size:11px;
    top:5px;
    opacity: .8;
    right:20px;
    text-shadow: none;
}

.tooltip{
    position: absolute;
    width:200px;
    background: #fff;
    padding:3px 5px;
    text-align: left;
    display:none;
}
.tooltip.dark{
    color:#fff;
    background: #333;
}
.tooltip.small{
    font-size:11px;
}
.comment-tab-selector{
    margin-left:20px;
}
.comment-tab-selector > li{
    position: relative;
    display:inline-block;
    margin-right:5px;
}
.comment-tab-selector > li > a{
    display: block;
    padding:5px 15px 3px 15px;
    font-size:14px;
    font-family: "OpenSansSemiBold";
    background: #DDE9F7;
    color:#7a7a7a;
    text-shadow:0 1px 0 #f1f7ff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.primary-selector-wrapper > ul > li{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-right:5px;
}
.primary-selector-wrapper > ul > li > a{
    display: block;
    font-family: "Bree serif", serif;
    font-size:20px;
    padding:5px 15px;
    background: #dde9f7;
    color:#7a7a7a;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 0 1px 0 #f1f7ff;
    width:120px;
}
.primary-selector-wrapper > ul > li > a:hover, .comment-tab-selector > li > a:hover{
    color: #5e5e5e;
    background: #d5e0ee;
}
.primary-selector-wrapper .tooltip-tail, .comment-tab-selector .tooltip-tail{
    position:absolute;
    bottom:-15px;
    left:63px;
    width:0;height:0;
    border-color:#378cf4 transparent transparent transparent;
    border-width:8px;
    border-style:solid;
    display: none;
}

.comment-tab-selector .tooltip-tail{
   left:54px; 
}
.menu-tooltip-tail{
    position: absolute;
    top:-15px;
    left:40px;
    width:0; height: 0;
    border-width:8px;
    border-color: transparent transparent #333 transparent ;
    border-style: solid;
    display: block;

}
.tooltip .tooltip-tail{
    position: absolute;
    border-color: #333 transparent transparent  transparent ;
    bottom:-15px;
    left:40px;
    width:0; height: 0;
    border-width:8px;
    border-style: solid;
    display: block;
}
.tooltip .tooltip-tail.left{
    border-color:  transparent #333 transparent  transparent ;
    left:-12px;
    top:15px;
}
.tooltip.small .tooltip-tail{
    border-width:6px;
    bottom:-12px;
}
.comment-entry .tooltip-tail{
     position:absolute;
    top:-15px;
    left:25px;
    width:0;height:0;
    border-color: transparent transparent #fff transparent ;
    border-width:8px;
    border-style:solid;
}
.primary-selector-wrapper > ul > li.active a, .comment-tab-selector > li.active a{
    background: #378cf4;
    color:#fff;
    text-shadow: 0 -1px 0 #196fd9;
}
.primary-selector-wrapper li.active .tooltip-tail, .comment-tab-selector > li.active .tooltip-tail{
    display: block;
}
.panel{
    padding:10px;
    margin-bottom: 10px;
}
.panel.lt{
    background: #f5f5f5;
}
.panel h1{
    font-family: "Bree serif", serif;
    /*font-family: "OpenSansLight", sans-serif;*/
    font-size:32px;
    line-height: 1.2 ;
    margin-bottom:10px;
}
.notify-view-wrapper, .project-preview{
    margin:20px 0;
}
.notify-view-wrapper h3{
    font-family: 'OpenSansSemiBold';
    font-weight: normal;
    font-size:12px;
    color:#bdc2c6;
    text-shadow: 0 1px 0 #fff;
}
.notify-view-wrapper.ongoing h3{
    color:#7ad14b;
}
.notify-item{
    border-bottom: 1px solid #dae4e8;
    padding:7px 0;
    box-shadow:0 1px 0 #fff;
    position: relative;
    text-shadow: 0 1px 0 #fff;
    font-size:16px;
    color:#43515a;
}

.notify-item strong{
    font-weight: normal;
    font-family: 'OpenSansSemiBold';
}
.project-preview{
    border-radius: 5px;
}
.project-details{
    padding:10px;
    border-radius: 5px;
    background: #fff;
}
.project-details h1{
    color:#434343;
}
a.text-warning{
    color:#f24d4d;
    font-size: 12px;
}
a.text-warning:hover{
    text-decoration: underline;
}
.btn{
    padding:5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-size:12px;
    border:1px solid #c9c9c9;
    font-family: 'OpenSansSemiBold';
    
    color:#fff;
    text-shadow:0 -1px 0 rgba(0,0,0,.15);
    border:1px solid #2191d7;
    box-shadow:0 1px 0 #77dafd inset;
    background: #47c8f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c8f4', endColorstr='#47b9f4'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#47c8f4), to(#47b9f4)); 
    background: -moz-linear-gradient(top,  #47c8f4,  #47b9f4);
    
}
.btn.warning{
    border:1px solid #d62525;
    box-shadow: 0 1px 0 #ff8181 inset;
    background: #ef4e4e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef4e4e', endColorstr='#e94545'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ef4e4e), to(#e94545)); 
    background: -moz-linear-gradient(top,  #ef4e4e,  #e94545);
}

.btn:hover{
    background: #47c8f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c8f4', endColorstr='#3faee7'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#47c8f4), to(#3faee7)); 
    background: -moz-linear-gradient(top,  #47c8f4,  #3faee7);
    box-shadow:0 1px 0 #77dafd inset, 0 1px 3px rgba(0,0,0,.15);
}
.btn.warning:hover{
    background: #ef4e4e;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef4e4e', endColorstr='#df3838'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#ef4e4e), to(#df3838)); 
    background: -moz-linear-gradient(top,  #ef4e4e,  #df3838);
    box-shadow:0 1px 0 #ff8181 inset, 0 1px 3px rgba(0,0,0,.15);
}
.btn.warning:active{
    background: #e94444;
    box-shadow: 0 1px 2px rgba(0,0,0,.15) inset;
}
.btn.end-project{

}
.btn:active{
    background: #43b7df;
    box-shadow: 0 1px 2px rgba(0,0,0,.15) inset;
}



.btn.small{
    font-size:11px;
}
.notify-action-wrapper{
    float:right;
}

.btn.large{
    font-size:18px;
}
.accept-project, .end-project{
    text-align: center;
    padding:5px 30px;
    font-size:16px;
    display: block;
    margin:20px 0 10px 0;
    
}
.empty{
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    color:#ccc;
    padding:20px;
    margin:20px 0;
}
.empty.large h2{
    font-size: 26px;
    
}
.empty h2{
    font-family: "Bree serif", serif;
    font-weight: normal;
}
.user-tab-wrapper{
    display:inline-block;
    margin:5px 0;
    padding:5px;
}
.user-tab-wrapper.author{
    padding:0;
}
.user-tab-wrapper.bordered{
    border:1px solid #e9e9e9;
    border-radius: 3px;
    background: #fff;
}
.user-profile-image{
    width:50px;
    height:50px;
    overflow: hidden;
    float:left;
}
.user-profile-image img{
    width: 100%;
}
.user-profile-info{
    float:left;
    margin-left:10px;
}
.user-profile-info .user-profile-name{
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size:18px;
}
.user-profile-info .user-position{
    color:#9e9e9e;
}

.user-tab-wrapper.small .user-profile-name{
    font-size:14px;
}
.project-description{
    font-size:13px;
}
.ct{
    text-align: center;
}


.project-meta{
    font-size:13px;
    color:#9e9e9e;
    margin:0 0 10px 0;
}
.project-meta .td{
    width:120px;
}
.project-meta li{
    display: block;
    padding:5px 0;
    
}
.project-meta strong{
    color:#758A97;
}
.project-details-sidebar{
    padding:10px;
    background: #fff;
    border-radius: 5px;
    
    width:305px;
    float:right;
}
.comments{
    border:1px solid #e1e1e1;
    border-radius: 5px;
}
.comment-item{
    padding:10px;
}
.activity-log-item{
    padding:10px;
    font-size:12px;
    background: #fff;
    border-bottom:1px solid #e1e1e1;
    color:#333;
}

.comment-entry{
    font-size:12px;
    vertical-align: top;
    color:#333;
    background: #fff;
    border-radius:5px;
    padding:10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.comment-date{
    float:right;
    font-size:11px;
    color:#999;
    text-shadow: 0 1px 0 #fff;
    
}
.response-wrapper{
    padding:10px;
    border-bottom: 1px solid #E1E1E1;
}
.response-wrapper label{
    display:block;
}
.response-wrapper textarea{
    width:100%;
    min-height: 80px;
    resize: none;
    margin:0;
}
h2#listStaff{
    background: url(/assets/pencil-circle.png) no-repeat left;
    padding:20px 0 20px 70px;
}
h2#hireStaff{
    background: url(/assets/profile-circle.png) no-repeat left;
    padding:20px 0 20px 70px;
    vertical-align: top;
}
.text-container{
    height: 400px;
    overflow-y: auto;
    padding:10px;
    border:1px solid #e1e1e1;
    background: #fff;
    border-radius: 5px;
    margin:20px 0;
    font-size:12px;
}
.text-container h3{
    margin-bottom:10px;
}
a.main-text-action{
    display:inline-block;
    margin:10px 0;
}
.footer-links a{
    margin-right:20px;
    vertical-align: middle;
    font-size:12px;
    color:#555;
    opacity: .7;
    -webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;  
}
a.social{
    background: url(/assets/social.png) no-repeat;
    width:33px;
    height:33px;
    display: inline-block;
    margin-right:5px;
   
}
.footer-links a:hover{
    opacity: 1;
}
a.social.twitter{
    background-position: 0 0;
}

a.social.facebook{
    background-position: -32px 0;
}
.eDs{
    font-size:14px;
    font-family: "OpenSansRegular";
    display: inline-block;
    vertical-align: middle;
    margin-left:20px;
}
.eDs:hover{
    text-decoration: underline;
}
.seperator{
    border-bottom:1px solid #e1e1e1;
}
.announce{
    padding:10px;
    background: #f3f7f9;
    position: relative;
}
.announce .sticker{
    background: url(/assets/stickytape.png) no-repeat;
    position: absolute;
    top:-15px;
    left:-20px;
    width:50px;
    height:40px;
}
.announce h3{
    font-family: "OpenSansSemiBold";
    font-size:14px;
    color: #F22651;
    margin-bottom:10px;
    padding-bottom:5px;
    border-bottom: 1px solid #e1e1e1;
}
ul.announce-list li{
  font-family: "OpenSansSemiBold";
}
.logo-container{
    padding:3px;
    border:1px solid #e1e1e1;
}
.search-filter{
    margin-bottom:20px;
}
.search-filter h2{
    font-size:18px;
    padding-bottom:5px;
    margin-bottom:10px;
    border-bottom:1px solid #D9E5F2;
}
.filter-list li{
    padding:5px 0;
}
.filter-list li.selected {
    font-family: "OpenSansSemiBold";
    color:#676767;
}
.ui-checkbox li{
    display: inline-block;
}
.ui-checkbox li a{
    display:block;
    padding:3px 10px;
    font-size:14px;
    border-radius: 3px;

}
.ui-checkbox li a:hover{
    background: #e9e9e9;
}
.ui-checkbox li a:active{
    background: #378CF4;
    color:#fff;
}
.ui-checkbox li.selected a{
   background: #378CF4;
   color:#fff;
   box-shadow: 0 1px 3px rgba(0,0,0,.2) inset;
}
.calendar-date-wrapper{
    position: relative;
}
.calendar-date-wrapper .tooltip{
    width:165px;
}
.calendar-date-wrapper .calendar-box.s {
    width: 40px;
}
.calendar-date-wrapper .calendar-box .calendar-date {
    display: block;
    border-bottom: #CCC 2px solid;
    overflow: hidden;
    color: #777;
    line-height: 1;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}
.calendar-date-wrapper .calendar-box .calendar-date .month {
    background-color: #EEE;
    border-bottom: #CCC 1px solid;
    font-family: "OpenSansSemibold";
    text-align: center;
}
.calendar-date-wrapper .calendar-box.s .month {
    font-size: 10px;
    padding: 2px 0;
}
.calendar-date-wrapper .calendar-box .calendar-date .day {
    font-family: "OpenSansSemibold";
    text-align: center;
    background-color: #F8F8F8;
}
.calendar-date-wrapper .calendar-box.s .day {
    font-size: 18px;
    padding: 3px;
}
.calendar-date-wrapper .day-of-week {
    color: #777;
    font-size: 10px;
    margin: 3px 0 0;
    text-align: center;
    text-transform: uppercase;
}
.fL{
    float:left;
}
.fL.Ls{
    width:94%;
    margin-left:10px;
}
.dD{
    border:1px solid #e1e1e1;
    padding:2px 5px 2px 2px;
    border-radius: 3px;
    box-shadow: 0 1px 0 #fff;
    font-size:12px;
    text-align: center;
    position: relative;
    cursor: default;
}
.dD select{
    padding:2px;
}
.search-note-wrapper{
    text-align: center;
    position: relative;
    margin-top:50px;
}
.search-note-wrapper h2{
    font-family: "Bree serif";
    font-size:20px;
}
.search-arrow{
    position: absolute;
    left:40px;
    top:-29px;
}
