.login-wrapper{
    width:400px;
    margin:80px auto 0 auto;
    min-height: 200px;
}
.login-header{
    background: #81bcea;
    color:#fff;
    font-size:18px;
    font-family: 'OpenSansBold';
    padding:10px 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
}
.login-body{
    padding:20px;
    background: #f1f1f1;
}
.login-body fieldset{
    display: block;
    padding: 0 0 10px 0;
    position: relative;
}
.login-body label{
    display:block;
    font-family: 'OpenSansSemiBold';
    text-shadow: 0 1px 0 #fff;
}
.login-body input[type=text], .login-body input[type=password]{
    padding:10px;
    border:1px solid #fff;
    font-size:16px;
    box-sizing: border-box;
    width:100%;
    border:1px solid #d1d1d1;
    border-radius: 3px;
}
.login-body input[type=text]:focus, .login-body input[type=password]:focus{
    box-shadow:0 2px 3px #f1f1f1 inset;
}
.login-footer input[type=submit]{
    background: #47c8f4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#47c8f4', endColorstr='#29a1ec'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#47c8f4), to(#29a1ec)); 
    background: -moz-linear-gradient(top,  #47c8f4,  #29a1ec);
    color:#fff;
    text-shadow: 0 1px 0 #1c8bd0;
    border-radius: 3px;
    border:1px solid #2191d7;
    padding:5px 15px;
    font-size:14px;
    font-family: 'OpenSansSemibold';
    cursor: pointer;
}
.login-footer input[type=submit]:hover{
    background: #49ccf9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49ccf9', endColorstr='#2196dd'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#49ccf9), to(#2196dd)); 
    background: -moz-linear-gradient(top,  #49ccf9,  #2196dd);
    box-shadow:0 1px 0 #77dafd inset;
}
.login-footer input[type=submit]:active{
    background: #35b1db;
}
.login-footer{
    text-align: right;
    border-top:1px solid #e1e1e1;
    background: #f1f1f1;
    padding:20px;
}
.inline-link{
    margin:0 10px;
    font-size:13px;
    text-shadow: 0 1px 0 #fff;
}
.inline-link a:hover{
    text-decoration: underline;
}
.numeric-ball{
    height:50px;
    width:50px;
    padding:15px;
    border-radius: 50%;
    display:block;
    background: #c1c1c1;
    text-align: center;
    color:#fff;
    font-size:20px;
    margin:0 auto 10px auto;
    
}
.numeric-ball.current{
    background: #F22651;
}
.numeric-ball small{
    display: block;
}
.breadcrumbs-static{
    text-align: center;
    margin-bottom:20px;
}
.bc-step{
    display:inline-block;
    margin-right:60px;
}
.bc-step:last-child{
    margin-right:0;
}

.login-form-tip{
    padding:10px 15px;
}
.login-form-tip label{
    font-size:12px;
    color:#374f5e;
    text-shadow: 0 1px 0 #D6EAF4;
}
.login-form-tip fieldset{
    margin-bottom:5px;
    display: block;
}
.login-form-tip input[type=text], .login-form-tip input[type=password]{
    padding:7px;
    border:none;
    width:200px;
}
.login-form-tip input[type=submit]{
    margin:5px 0 0 0;
    padding:3px 15px;
    font-size:13px;
    display: inline-block;
    cursor: pointer;
}