.logo{
    display:inline-block;
    padding:5px 30px 10px 30px;
    font-size:50px;
    font-family: "Bree serif", serif;
    background: #f22651;
    box-shadow: 5px 5px 0 rgba(0,0,0,.3);
    color:#fff;
    text-decoration: none;
    text-shadow: 2px 4px 0 #d21940;
    -webkit-transition: all .2s ease-in-out;  
    -moz-transition: all .2s ease-in-out;
}

body{
    font-family: Arial, sans-serif;
    background: url('bg1.jpg') no-repeat;
    background-size:100%;
    padding:0;
    margin:0;
    cursor: default;
    color:#fff;
}
.white-cover{
    background: rgba(0,0,0,.3);
    padding:20px 0;
    margin-top:30px;
}
.splash-wrapper{
    text-align: center;
}
.splash-wrapper h1{
    font-size:50px;
    font-family: "Bree serif", serif;
    font-weight: normal;
    margin-bottom:0;
    margin-top:0px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
.splash-wrapper h2{
    font-family: 'OpenSansSemibold';
    display: block;
    padding:20px;
    width:780px;
    margin:0 auto;
    text-shadow: 0 1px 1px rgba(0,0,0,.4);
    /*background: rgba(255,255,255,.2); */
    color:#fff;
    margin-bottom:10px;
    line-height: 38px;
}

.input-wrapper{
    padding:10px;
    box-shadow: 0 0 15px rgba(0,0,0,.2);
    border-radius: 5px;
    display: inline-block;
    background: rgba(255,255,255,.5);
    position: relative;
    margin-top:20px;
    margin-bottom:8px;
}
.input-wrapper input[type=text]{
    padding:10px;
    border:1px solid #b9b9b9;
    font-size:18px;
    width:250px;
    outline:none;
    border-radius: 3px;
}
.input-wrapper input[type=submit]{
    padding:7px 15px;
    font-size:18px;
    font-family: "Bree serif", serif;
    border-radius: 5px;
    background: #f22651;
    color:#fff;
    border:1px solid #df1540;
    box-shadow:0 4px 0 #b80e32;
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    position: relative;
    top:-1px;
    cursor: pointer;
}
.input-wrapper input[type=submit]:hover{
    background: #fc2f5b;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc2f5b', endColorstr='#e1143f'); 
    background: -webkit-gradient(linear, left top, left bottom, from(#fc2f5b), to(#e1143f)); 
    background: -moz-linear-gradient(top,  #fc2f5b,  #e1143f);
    box-shadow:0 4px 0 #a40829;
}
.input-wrapper input[type=submit]:active{
    top:0px;
    box-shadow:0 2px 0 #b80e32;
}
.tag{
    font-size:12px;
}
.notification-tip{
    position: absolute;
    background: #333;
    color:#fff;
    font-size: 13px;
    padding: 5px 10px;
    top: -26px;
    display: none;
    font-weight: bold;
}
.notification-tip .tail{
    position: absolute;
    bottom: -14px;
    left: 20px;
    width: 0;
    height: 0;
    border-color: #333 transparent transparent transparent;
    border-width: 8px;
    border-style: solid;
}
.notification-tip.error{
    background: #ed4444;
}
.notification-tip.error .tail{
    border-color: #ed4444 transparent transparent transparent;
}
